<%- include("_header") %>

<body>
  <h1>Edit</h1>

  <form action="/task/update/<%= task.id %>" method="POST">
    <label for="title">Title</label>
    <input
      id="title"
      name="title"
      type="text"
      value="<%= task.title %>"
      placeholder="Title ..."
    />

    <br />

    <label for="description">Description</label>
    <textarea
      id="description"
      name="description"
      type="text"
      placeholder="Description ..."
    >
<%= task.description %></textarea
    >

    <br />

    <label for="start_date">Date Start:</label>
    <input
      id="start_date"
      name="start_date"
      type="date"
      value="<%= new Date(task.end_date).toLocaleDateString('en-CA'); %>"
      placeholder="start_date ..."
    />

    <br />

    <label for="end_date">Date End:</label>
    <input
      id="end_date"
      name="end_date"
      type="date"
      value="<%= new Date(task.end_date).toLocaleDateString('en-CA'); %>"
      placeholder="end_date ..."
    />

    <br />

    <label for="done">Checkbox</label>
    <input
      id="done"
      name="done"
      type="checkbox"
      value="<%= task.done %>"
      placeholder="Checkbox ..."
    />

    <button type="submit">Submit</button>
  </form>
</body>

<%- include("_footer") %>
